* {
    -webkit-tap-highlight-color: rgba(
        0,
        0,
        0,
        0
    ); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
    overflow: hidden;
    color: #222;
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
}
